{% extends 'base.html' %}
{% block title %}Рассписание 8А{% endblock %}
{% block content %}
<div class="container text-center">
    <nav class="navbar bg-body-tertiary"></nav>
    <div class="m-5 fs-1">Понедельник (очно)</div>
    <div class="row">
        <div class="col">
            <p class="fw-medium">9:20</p>
            <h3>Математика</h3>
            <p>Михаил Сергеевич П.</p>
            <a class="fw-medium" href="#">ссылка на подключение</a>
        </div>
        <div class="col">
            <p class="fw-medium">9:20</p>
            <h3>Математика</h3>
            <p>Михаил Сергеевич П.</p>
            <a class="fw-medium" href="#">ссылка на подключение</a>
        </div>
        <div class="col">
            <p class="fw-medium">9:20</p>
            <h3>Математика</h3>
            <p>Михаил Сергеевич П.</p>
            <a class="fw-medium" href="#">ссылка на подключение</a>
        </div>
    </div>
</div>
{% endblock %}